{% extends 'base.html' %}
{% block body %}
    <h1>Список сайтов в аккаунте</h1>
{#    <h1>{{ profiles.username }}</h1>#}
     <table class="table table-striped">
        <thead><tr>
            <th>Название сайта</th>
            <th>Создан</th>
            <th>Изменен</th>
            <th>Название</th>
        </tr></thead>
     <tbody>
    {% for property in profiles.items %}
    <tr>
    <th><a href="{{ property.websiteUrl }}">{{ property.name }}</a></th>
    <th>{{ property.created }}</th>
    <th>{{ property.updated }}</th>
    <th>{{ event.selfLink }}</th>
    </tr>
    {% endfor %}
     </tbody>
     </table>
    {% include '__include/paginator.html' with page_obj=events %}
{% endblock %}