{% extends 'base.html' %}
{% block body %}
    <h1>{{ profiles.username }}</h1>

    <p style="color: black;">Сейчас на сайте <a href="{{ site }}">{{ site }}</a>, человек:{{ metrics.totalResults }}</p>
{#     <table class="table table-striped">#}
{#        <thead><tr>#}
{#            <th>Начало события</th>#}
{#            <th>Конец события</th>#}
{#            <th>Название</th>#}
{#            <th>Название</th>#}
{#        </tr></thead>#}
{#     <tbody>#}
{#    {% for property in profiles.items %}#}
{#    <tr>#}
{#    <th><a href="{{ property.websiteUrl }}">{{ property.name }}</a></th>#}
{#    <th>{{ property.created }}</th>#}
{#    <th>{{ property.updated }}</th>#}
{#    <th>{{ event.selfLink }}</th>#}
{#    </tr>#}
{#    {% endfor %}#}
{#     </tbody>#}
{#     </table>#}
{#    {% include '__include/paginator.html' with page_obj=events %}#}
{% endblock %}