{#{% load staticfiles %}#}
{% extends 'base.html' %}
{% block body %}
    <h1 class="cover-heading">Вы успешно добавили свой ресурс</h1>
{#            <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>#}
{#            <p class="lead">#}
{#              <a href="#" class="btn btn-lg btn-default">Learn more</a>#}
{#            </p>#}
{% endblock %}
